.treestyle{
	width: 222px;
    height: 525px;
    padding: 10px 34px 0 14px;
    border: 1px solid #e8e8e8;
    border-top: 0px;
    overflow: auto;
	background-color: #e8e8e8;
}

.tablestyle{
    height: 525px;
    padding: 10px 34px 0 14px;
    border: 1px solid #e8e8e8;
    border-top: 0px;
    overflow: auto;
}

.buttonstyle{
	float: right;
}

.buttonstyle1{
	float: center;
}

.modaltyle{
	width: 680px;
    height: 325px;
    padding: 10px 34px 0 14px;
    border: 1px solid #e8e8e8;
    border-top: 0px;
    overflow: auto;
	background-color: #e8e8e8;
}